* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: fit-content;
  min-width: 300px;
  padding: 1px 3px;
}

.title-container {
  border: 4px solid darkred;
  display: flex;
  align-items: center;
  text-align: center;
}

.title {
  border: 4px solid darkblue;
  text-align: center;
  padding-right: 10px;
  flex-grow: 1;
}

.title-icon {
  border: 4px solid darkgreen;
  height: 64px;
  width: 64;
}

.status-container {
  border: 4px solid lightcoral;
  text-align: center;
}

.selector-container {
  border: 4px solid red;
  display: flex;
}

.selector-label {
  border: 4px solid blue;
  text-align: right;
  font-weight: 700;
  width: 100px;
}

.selector-colon {
  border: 4px solid yellow;
  text-align: center;
  font-weight: 700;
  width: 5px;
}

.selector {
  border: 4px solid green;
  flex-grow: 1;
}

.shortcut {
  border: 4px solid pink;
  flex-grow: 1;
}

.button-container {
  text-align: end;
  padding-right: 1%;
}

#button-message {
  color: red;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: wheat;
  border-radius: 5px;
  border: 2px black solid;
  padding: 3px;
  margin-top: -4px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: justify;
  z-index: 1;
  box-shadow: 3px 3px 5px black;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  z-index: 1;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
}

footer {
  text-align: end;
  opacity: 80%;
}

footer a {
  text-decoration: none;
  color: darkblue;
}
